<!DOCTYPE html>
<html>
  <head>
    <title>GoalApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>Goal Tracker!</h1>

      <% if @current_user %>

      <a href="/session/new">Login!</a>
      <a href="/users/new">Signup</a>

      <% else %>
        <form class="" action="session" method="post">
          <input type="hidden" name="_method" value="delete">
          <input type="hidden" name="authenticity_token" value="form_authenticity_token">

          <input type="submit" name="" value="Logout!">
        </form>
        <% end %>


    </header>


    <%= yield %>
  </body>
</html>
